.main {
  height: 800px;
  width: 550px;
}

.h1 {
  text-align: center;
}

.centerbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  gap: 15px;
  margin-top: -40px;
}

h1 {
  height: 80px;
  width: 100%;
}

input {
  width: 50%;
  height: 20px;
  font-size: 16px;
  border-radius: 8px;
}

input:focus::placeholder {
  background-color: rgb(193, 219, 240);
  font-style: normal;
}

input::placeholder {
  font-style: italic;
}

button {
  padding: 5px 20px;
}

button:hover {
  background-color: rgb(156, 104, 206);
  color: white;
}

.result {
  text-align: center;
  margin: 2px;
  padding: 2px;
  height: 40px;
  width: 100%;
}

.result:hover {
  color: rgb(247, 245, 244);
  text-align: center;
  border: 2px solid black;
  background-color: black;
  border-radius: 50px;
}

body {
  background-image: url("img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
}
